<div class="msg-bar-holder w-100 d-flex justify-content-between">



    {{!-- TODO: Prevent arrow-icon from reapperiong when rapidly double-clicking in and outside textfield --}}
    {{#unless this.isCollapsed}}
    <div class="icon-wrapper">
        <a href="#">
            <img class="image-button" src="\images\ic-gallery-album.svg">
        </a>
    </div>
    {{else}}
    <div class="icon-wrapper arrow {{unless this.isCollapsed 'd-none'}}">
        <a {{ on 'click' this.showCollapse}}>
            <img class="image-button" src="\images\ic-arrow-right.svg">
        </a>
    </div>
    {{/unless}}

    <div class="collapse width d-flex flex-row show" id="collapseExample">

        <div class="icon-wrapper">
            <a href="#">
                <img class="image-button" src="\images\ic-camera.svg">
            </a>
        </div>
        <div class="icon-wrapper">
            <a href="#">
                <img class="image-button" src="\images\ic-flower.svg">
            </a>
        </div>
    </div>

    <div class="text-input {{unless this.isCollapsed 'collapsed'}} d-flex justify-content-center flex-grow-1">
        <span class="input w-100 column-reverse" role="textbox" contenteditable="" {{on 'focusin' this.hideCollapse}}
            {{on 'focusout' this.showCollapse}}>
        </span>
    </div>

    {{!-- --}}

    <div class="icon-wrapper">
        <a href="#">
            <img class="image-button" src="\images\ic-send.svg">
        </a>
    </div>
</div>