<div class="msg-bar-holder w-100 d-flex justify-content-between">

    {{!-- TODO: Prevent arrow-icon from reapperiong when rapidly double-clicking in and outside textfield --}}
    {{#unless this.isCollapsed}}
    <div class="icon-wrapper gallery">
        <button class="button gallery">
            <img class="gallery-icon" src="\images\ic-gallery-album.svg">
        </button>
    </div>
    {{else}}
    <div class="icon-wrapper arrow {{unless this.isCollapsed 'd-none'}}">
        <button class="button arrow" {{ on 'click' this.showCollapse}}>
            <img class="arrow-icon" src="\images\ic-arrow-right.svg">
        </button>
    </div>
    {{/unless}}

    <div class="collapse width d-flex flex-row show" id="collapseExample">

        <div class="icon-wrapper">
            <button class="button camera">
                <img class="camera-icon" src="\images\ic-camera.svg">
            </button>
        </div>
        <div class="icon-wrapper">
            <button class="button compliment">
                <img class="compliment-icon" src="\images\ic-flower.svg">
            </button>
        </div>
    </div>

    <div class="text-input {{unless this.isCollapsed 'collapsed'}} d-flex justify-content-center flex-grow-1">
        <span class="input w-100 column-reverse" role="textbox" contenteditable="" {{on 'focusin' this.hideCollapse}}
            {{on 'focusout' this.showCollapse}}>
        </span>
    </div>

    {{!-- --}}

    <div class="icon-wrapper">
        <button class="button send">
            <img class="send-icon" src="\images\ic-send.svg">
        </button>
    </div>
</div>